@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

body {
  background-color: var(--backgroundColor);
}

.page-container {
  margin: var(--navBarPaddingTop) calc(var(--navBarWidth) + 100px) 0;
}

p, h1 {
  color: var(--primaryTextColor);
}

h1 {
  font-size: 25px;
  font-weight: 700;
}