@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

body {
  background-color: var(--backgroundColor);
}

.page-container {
  margin: var(--navBarPaddingTop) calc(var(--navBarWidth) + 100px) 0;
}

::placeholder {
  color: var(--tertiaryTextColor);
}

p, h1 {
  color: var(--primaryTextColor);
}

h1 {
  font-size: 25px;
  font-weight: 600;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: 0.2s all;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
  transition: 0.2s all;
}

/*Controls modal animation. Transform style is also in reactModalStyles.ts*/
.ReactModal__Content--after-open {
  transform: translate(-50%, -50%) scale(1) !important;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}