:root {
  --backgroundColor: #1C1C1C;
  --navIconColor: #737373;
  --navBarPaddingTop: 80px;
  --navBarWidth: 64px;
  --selectedNavIconColor: #fff;
  --accentColor: #69B5A6;
  --primaryBorderColor: #4a4a4a;
  --cardBackgroundColor: #2d2d2d;
  --cardHoverColor: #333333;
  --primaryTextColor: #fff;
  --secondaryTextColor: #737373;
  --selectedOptionBgColor: #3e3e3e;
}

[data-theme="light"] {
  --backgroundColor: #ffffff;
  --navIconColor: #acacac;
  --selectedNavIconColor: #6b6b6b;
  --accentColor: #1ec17a;
  --primaryBorderColor: #d0d0d0;
  --cardBackgroundColor: #fff;
  --cardHoverColor: #f4f4f4;
  --primaryTextColor: #515151;
  --secondaryTextColor: #acacac;
  --selectedOptionBgColor: #ededed;
}

[data-theme="stealth"] {
  --backgroundColor: #09192e;
  --navIconColor: #6e99d2;
  --selectedNavIconColor: #fff;
  --accentColor: #ff8986;
  --primaryBorderColor: #184e8a;
  --cardBackgroundColor: #0f2d4f;
  --cardHoverColor: #0f335b;
  --primaryTextColor: #fff;
  --secondaryTextColor: #6e99d2;
  --selectedOptionBgColor: #043d6b;
}

[data-theme="skullcutter"] {
  --backgroundColor: #032121;
  --navIconColor: #0a6d6d;
  --selectedNavIconColor: #fff;
  --accentColor: #95e1dd;
  --primaryBorderColor: #578486;
  --cardBackgroundColor: #143033;;
  --cardHoverColor: #193c3f;
  --primaryTextColor: #fff;
  --secondaryTextColor: #527778;
}