:root {
  --navIconColor: #737373;
  --navBarPaddingTop: 80px;
  --navBarWidth: 64px;

}

[data-theme="dark"] {
  --backgroundColor: #1C1C1C;
  --selectedNavIconColor: #fff;
  --accentColor: #69B5A6;
  --borderColor: #4a4a4a;
  --cardBackgroundColor: #272727;
  --cardHoverColor: #313131;
  --primaryTextColor: #fff;
  --secondaryTextColor: #8d8d8d;
  --tertiaryTextColor: #5f5f5f;
}

[data-theme="light"] {
  --backgroundColor: #ffffff;
  --navIconColor: #909090;
  --selectedNavIconColor:  #515151;
  --accentColor: #1ec17a;
  --borderColor: #c7c7c7;
  --cardBackgroundColor: #ffffff;
  --cardHoverColor: #f1f1f1;
  --primaryTextColor: #515151;
  --secondaryTextColor: #868686;
  --tertiaryTextColor: #acacac;
}

[data-theme="stealth"] {
  --backgroundColor: #09192e;
  --navIconColor: #6e99d2;
  --selectedNavIconColor: #fff;
  --accentColor: #ff8986;
  --borderColor: #184e8a;
  --cardBackgroundColor: #0e2a4a;
  --cardHoverColor: #06345a;
  --primaryTextColor: #fff;
  --secondaryTextColor: #6e99d2;
  --tertiaryTextColor: #4e6f99;
}